
 /** FOOTER **/

 /* footer sign up  */

 @media screen and (min-width: 320px) {
    .footer__sign-up {
        background: linear-gradient(0deg, rgba(9, 9, 9, 0.465718), rgba(9, 9, 9, 0.465718)), #1F1F2F;
        color: #FFFFFF;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.145714px;
        display: flex;
        justify-content: center;
    }
    .footer__sign-up-wrap {
        padding: 30px 20px;
    }
    .footer__sign-up-p {
        max-width: 280px;
    }

    .footer__sign-up-form-elem {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    .footer__sign-up-form-elem:not(:first-child){
        margin-top: 20px;
    }

    .form-input {
        max-width: 200px;
        flex-grow: 1;
        border-radius: 10px;
        border: none;
        padding: 9px 40px;
        color: #82868E;
    }
    
    .form-input::placeholder {
        color: #82868E;
    }

    .input-name-icon{
        background-image: url(./../img/name-icon.svg);
        background-repeat: no-repeat;
        background-position: 10px;
    }

    .input-email-icon {
        background-image: url(./../img/email-icon.svg);
        background-repeat: no-repeat;
        background-position: 10px;
    }
    .form-btn {
        background: #F92251;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 9px 52px;
        border: none;
    }
}

@media screen and (min-width: 768px) {
    .footer__sign-up-wrap {
        padding: 30px 140px;
    }
    .footer__sign-up-p {
        font-size: 25px;
        line-height: 38px;
        letter-spacing: 0.3px;
        max-width: 520px;
        text-align: center;
    }
    .footer__sign-up-form {
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 450px;
    }
    .footer__sign-up-form-elem, .footer__sign-up-form-elem:not(:first-child) {
        margin-top: 50px;
    }
    .form-elem-input:not(:first-child){
        margin-left: 30px;
    }
    .form-input {
        max-width: 130px;
        padding: 16px 40px;
    }
    .form-elem-btn{
        margin-bottom: 40px;
    }
    .form-btn {
        padding: 14px 137px;
    }
}
@media screen and (min-width: 1440px) {
    .footer__sign-up-wrap {
        padding: 60px 230px;
    }
    .footer__sign-up-p {
        font-size: 35px;
        line-height: 53px;
        padding: 0px 100px;
        max-width: 780px;
    }
    .footer__sign-up-form {
        justify-content: center;
        max-width: 980px;
    }
    .form-elem-input:not(:first-child){
        margin-left: 0px;
    }
    .footer__sign-up-form-elem, .footer__sign-up-form-elem:not(:first-child) {
        margin-top: 40px;
        height: 50px;
    }
    .footer__sign-up-form-elem:not(:first-child) {
        margin-left: 40px;
    }
    .form-input {
        max-width: 300px;
        padding: 13px 35px;
        
    }
    .form-btn {
        padding: 14px 62px;
    }
}

 /* footer info  */
@media screen and (min-width: 320px) {
    .footer__info {
        font-size: 17px;
        line-height: 26px;
        background-color: #404754;
        color: #BAC5D3;
    }
    .footer__info-wrap {
        padding: 20px;
    }
    .footer__nav-link {
        color: #BAC5D3;
        
    }
    .footer__copy {
        margin: 20px 0px 0px;
    }
}

@media screen and (min-width: 768px) {
    .footer__info {
        font-size: 20px;
        line-height: 30px;
    }
    .footer__info-wrap {
        padding: 30px 30px 5px 30px;
    }
    .footer__list{
        display: flex;
    }
    .footer__nav-list-item:not(:first-child) {
        margin-left: 30px;
    }
    .footer__copy {
        margin: 20px 0px;
    }
}

@media screen and (min-width: 1440px) {
    .footer__info-wrap {
        padding: 0px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer__nav-list-item:not(:first-child) {
        margin-left: 40px;
    }
}