@import "default.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// FOR ALL

$clr1: #FFF;
$clr2: rgba(255, 255, 255, 0.31);
$clr3: #FFC700;
$clr4: #9D8220;
$clr5: #2B2835;
$clr6: #030303;
$clr7: rgba(25, 23, 32, 0.52);
$clr8: #000;

body {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    width: 1440px;
}

a {
    color: $clr1;
}

button {
    cursor: pointer;
    padding: 12px 48px;
    background-color: $clr8;
    color: $clr1;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}


// HEADER

header {
    background-color: $clr7;
    position: fixed;
    width: 1440px;
    z-index: 3;
}

.header {

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 95px 14px 94px;
    }

    &__menu {
        padding-right: 50px;
    }

    &__link {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 1.90909px;
        margin-left: 113px;
        display: inline-block;
    }

    &__tools {
        display: inline-block;
    }
}

.tools-img {
    margin-left: 47px;
    display: inline-block;
}

//  HEADPHONE-1

.headphone-1 {
    background-color: $clr5;
    h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 43px;
    }
    &__container {
        height: 565px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        max-width: 1170px;
        margin: 0px auto;
        }
    &__img {
        position: absolute;
        top:0px;
        left: -110px;

    }
    &__content {
        color: $clr1;
        padding: 210px 0px 180px;
    }

    &__buy {
        display: flex;
        padding-top: 40px;
        padding-bottom: 14px;
    }
}

.sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    padding-bottom: 13px;
}

.yellow {
    background: $clr3;
    color: $clr8;
}
.price {
    font-size: 40px;
    line-height: 49px;
    color: #F2F2F2;
    padding-right: 34px;
}
.extra {
    color: $clr3;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

//  HEADPHONE-2

.headphone-2 {
    color: $clr5;
    padding-top: 289px;
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 7px;
    }
    h2 {
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 55px;
        padding-bottom: 20px;
    }
    h3 {
        font-size: 40px;
        line-height: 55px;
        padding-bottom: 11px;
    }
    &__container {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 1170px;
        margin: 0px auto;
        
    }
    &__img {
        position: absolute;
        right: -110px;
        max-width: 775px;
    }
    &__content{
        margin-left: -45px;
    }

    &__content .extra{
        color: $clr7;
        font-size: 13px;
    }

    &__buy {
        display: flex;
        padding-top: 40px;
        padding-bottom: 14px;
    }
    &__buy .price{
        font-weight: normal;
        font-size: 40px;
        line-height: 49px;
        color: $clr8;
        padding-right: 43px;
    }
}

.clr-btn {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    padding-top: 12px;
}

.clr-btn button{
    background-color: $clr3;
    padding: 18.5px 18.5px 18.5px 18.5px;
    border-radius: 50%;
    border: 1px solid $clr2;
    box-shadow: 0px 2px lightgray;
}

.clr-btn .btn-1 {
    background-color: #FFF;
}

.clr-btn .btn-2 {
    background-color: #DD5656;
}
.clr-btn .btn-3 {
    background-color: $clr8;
}

//  HEADPHONE-3

.headphone-3 {
    h2 {
        font-weight: 500;
        font-size: 50px;
        line-height: 55px;
        padding-bottom: 4px;
    }
    button {
        padding: 12px 33px;
    }
    p {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
    }
    &__container {
        padding: 113px 93px 69px;
        display: flex;
        justify-content: space-between;
    }
    .col1, .col2, .col3 {
        position: relative;
    }
    &__column {
        max-width: 393px;
        max-height: 560px;
        background-color: #F8F8F9;
    }
    &__column h2{
        font-weight: 500;
        font-size: 50px;
        line-height: 55px;
    }
    &__column img{
        max-width: 393px;
    }
    &__img-1 {
        position: absolute;
        top: 40px;
        right: 62px;
        bottom: 39px;
        left: 102px;
    }
    &__img-2 {
        position: absolute;
        top: -17px;
        right: 40px;
        bottom: 152px;
        left: 55px;
    }
    &__img-3 {
        position: absolute;
        top: 100px;
        right: 38px;
        bottom: 36px;
        left: 124px;
    }
    &__content {
        padding: 332px 77px 43px 49px;
        position: relative;
        z-index: 2;
    }
    &__buy {
        padding-top: 21px;
        display: flex;
        align-items: center;
    }
    &__buy .price{
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        padding-right: 20px;
        color: $clr4;
    }
}

// FOOTER

footer {
    background-color: $clr5;
}

.footer {
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 55px 190px 49.81px 135px;
    }

    &__section {
        display: flex;
    }
    &__column {
        display: flex;
        flex-direction: column;
        margin-left: 110px;
    }

    &__column a{
        display: inline-block;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.6);
    }

    &__icons {
        padding-top: 35px;
    }

    &__copy {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $clr2;
        mix-blend-mode: normal;
        padding-bottom: 20.81px;
        padding-top: 20.81px;
    }
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: $clr1;
}