@import "default.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


h1 {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: #000;
    padding-top: 60px;
    padding-bottom: 30px;
}

button {
    padding: 15px 0px 16px 35px;
    font-size: 13px;
    line-height: 15px;
    color: #000;
    width: 100%;
    cursor: pointer;
    text-align: start;
    position: relative;
}
button::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 18px;
    border: solid rgba(0, 0, 0, 0.65);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.active::before {
    content: '';
    position: absolute;
    border-left: 2px solid rgba(6, 121, 255, 1);
    min-height:36px;
    margin-left: -10px;
    top: 10px;
    left: 0px;
    z-index: 2;
}

.active::after {
    content: '';
    top: 18px;
    left: 18px;
    position: absolute;
    border: solid rgba(0, 0, 0, 0.65);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

input {
    width: 100%;
    left:0px;
    opacity: 0;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}

button:hover {
    background-color:  #D5D5D5;

}
.container {
    font-family: 'Roboto', sans-serif;
    color: #5D5D5D;

    font-size: 13px;
    line-height: 20px;
    margin: 0 auto;

    max-width: 640px;
    & h2 {
        font-weight: bold;
        font-size: 15px;
        padding-left: 20px;
    }

    & article {
        padding: 10px 42px 10px 20px;

    }
    & a {
        color: rgba(6, 121, 255, 1);
        text-decoration: underline;
    }
}

.wrap {
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    margin-bottom: 60px;

    & img {
        padding: 10px 64px;
    }
}

.tab {
    position: relative;
}
.tab::before {
    content: '';
    position: absolute;
    border-left: 2px solid rgba(6, 121, 255, 1);
    min-height:26px;
    margin-left: -10px;
    top: 10px;

    z-index: 2;
}

.content {
    padding: 20px 0px 10px;
    position: relative;
    display: none;

}
.content::before {
    content: '';
    position: absolute;
    border-left: 2px solid rgba(6, 121, 255, 1);
    height: 100%;
    margin-left: -10px;
    top: 0px;

    z-index: 2;
}


@media (max-width: 320px) {
    .container {
        width: 100%;
    }
    img {
        width: 100%;
    }
    .wrap {
        margin-bottom: 0px;
    }
    h1 {
        text-align: center;
    }
}
