body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Comfortaa', cursive;
}
h1 {
    padding-top: 100px;
    text-align: center;
}

h1 a {
    background: linear-gradient(-45deg,rgb(0, 26, 255), rgb(72, 178, 240));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
input {
    padding: 5px 10px;
}
.form-wrap {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.form-content {
    border-radius: 35px;
    padding: 30px 50px;
    box-shadow: 0px 0px 10px rgb(191, 212, 216);
}
.form-cell {

}
h3 {
    text-align: center;
    color: rgb(0, 133, 221);
}
.label-block{
    display: block;
    margin-top: 10px;
}
.btn-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    
    padding: 10px 20px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    border-radius: 35px;
    background: linear-gradient(-45deg,rgb(0, 26, 255), rgb(72, 178, 240));
}