/** ALL **/

body {
    color: #4A4A4A;
    font-family: Arimo;
    display: flex;
    justify-content: center;

}
.container {
    display: flex;
}
main {
    background-color: rgba(0, 85, 254, 0.04);
    padding: 0px 30px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #4A4A4A;
}
p, a, label, textarea {
    font-size: 14px;
    line-height: 16px;
}

/* checkbox */

.checkbox input[type="checkbox"] {
    opacity: 0;
    margin-left: -15px;
}

.checkbox label {
    position: relative;
    display: inline-block;
    
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 20px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 12px;
    width: 12px;
    
    border: 1px solid #4A4A4A;
    border-radius: 1px;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 1px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 3px;
    width: 6px;
    border-left: 2px solid ;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 03px;
    top: 4px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

/** header **/
header {
    box-shadow: 4px 0px 4px rgba(43, 45, 55, 0.01);
    background: #FFFFFF;
    max-width: 255px;
}

.header-wrap {
    padding: 0px 40px 0px 20px;
}

h1 {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 17px 0px 17px 20px;
    
}

/** nav **/

.nav-list {
    padding: 0px;
    max-width: 195px;
}
.nav-elem:not(:first-child) {
    margin-top: 12px;
}

.nav-link {  
}
.nav-block {
    width: 195px;
    height: 165px;
    background: #0054FE;
    opacity: 0.04;
    border-radius: 8px;
    margin-top: 10px;
}


/** section **/

.section-h2 {
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: normal;
}

.test-objectives {

}

.test-preparation {
}

/** test-objectives section **/

.test-objectives-field {
    margin-top: 21px;
}
.test-objectives-form {
    display: flex;
}
.test-objectives-form-teaxtarea {
    max-width: 547px;
    height: 185px;
    width: 100%;
    padding: 12px 14px;
    resize: none;
    overflow: auto;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    border: 0;
}
.test-objectives-form-teaxtarea:not(:first-child) {
    margin-left: 30px;
}
.test-objectives-form-teaxtarea::placeholder{
    color: rgba(74, 74, 74, 0.5);
}

/** test-preparation section **/

.fields-h3, .fields-h4 {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}
.fields-h3 {
    font-weight: normal;
}

.fields-h4 {
    opacity: 0.5;
    font-weight: bold;
}

.test-preparation-fields {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    margin-top: 13px;
}
.test-preparation-fields-wrap {
    display: flex;
    padding: 25px 24px 15px 19px;
}

.test-preparation-field-left {
    

}

.test-preparation-field-right {
}
/** test-preparation-field-left **/

.test-team-plan {
    display: flex;
}

.test-rewiew {
    margin-top: 16px;
    max-width: 870px;
    border-radius: 8px;
    background-color: rgba(0, 85, 254, 0.04);
}
/** team **/

.test-teams {
    max-width: 195px;
    border-radius: 8px;
    background-color: rgba(0, 85, 254, 0.04);
}
.team-wrap {
    padding: 8px;
}

/** plan **/

.test-plan {
    max-width: 660px;
    border-radius: 8px;
    background-color: rgba(0, 85, 254, 0.04);
    margin-left: 16px;
}
.plan-wrap {
    padding: 14px 12px 20px 12px;
}
.test-plan-blocs-wrap{
    display: flex;
    padding: 0;
    position: relative;
    margin-bottom: 0;
}
.test-plan-blocs-wrap::before {
    content: "";
    position: absolute;
    top: 103%;
    left: 99%;
    width: 0px;
    height: 0px;
    border-top: 3px solid transparent;
    border-left: 5px solid rgba(0, 0, 0, 0.24);
    border-bottom: 3px solid transparent;
}

.test-plan-blocs-wrap::after {
    display: block;
    width:626px;
    content: '';
    position: absolute;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.24);
    top:105%;
    left: 2px; 
}

.test-plan-block {
    width: 98px;
    height: 158px;
    background-color: rgba(0, 85, 254, 0.04);
    border-radius: 8px;
}

.test-plan-block:not(:first-child) {
    margin-left: 10px;
}

.test-plan-block-num{
    margin: 0px;
    padding: 85px 85px 57px 5px;
    opacity: 0.5;
    font-weight: bold;
}

/** rewiew **/

.rewiew-wrap {
    padding: 8px;
}

.test-rewiew-form {
    margin-top: 20px;
    display: flex;
}
.test-rewiew-block {
    max-width: 245px;
}

.test-rewiew-block:not(:first-child) {
    margin-left: 38px;
}

.p-email, .p-reminder, .reminder-elem {
    font-size: 12px;
    line-height: 14px;
}

.p-email {
    padding-left: 40px;
}
.p-reminder, .reminder-list {
    padding-left: 20px;
    margin-bottom: 5px;
}
.reminder-list {
    margin: 0px;
}
.rewiew-field-h4 {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.reminder-elem{
    padding-top: 1px;
    margin-left: -1px;
}

.reminder-elem:not(:first-child) {
    margin-top: 5px;
}

.assigments {
    margin-top: -15px;
    display: flex;
    flex-direction: column;
}
/** test-preparation-field-right **/

.test-tasks {
    margin-left: 16px;
    width: 195px;
    height: 440px;
    border-radius: 8px;
    background-color: rgba(0, 85, 254, 0.04);
}
.task-wrap {
    padding: 8px;
}
.task {
    margin-top: 6px;
}